.bu-shu{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile.section{
    margin: 15px;
}
.menu{
    color: #999;
}
.menu.icon{
    margin-right: 20px;
    cursor: pointer;
}

.menu.icon:hover{
    color: #499ef3;
}

.comments{
    margin-bottom: 15px;
    border-bottom:1px solid #999999;
}