body{
     background-color: cyan;
 }


.main{
    margin: 30px;
    background-color: white;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width:48px;
    height:48px;
}
.menu.icon{
    margin-right: 20px;
    cursor: pointer;
}

.menu.icon:hover{
    color: #499ef3;
}