<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/luntan2.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body>
<div th:insert="~{navigtion::copy}"></div>
<div class="container-fluid mai profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span th:text="${sectionName}"/></h2>
            <hr>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section=='questions'}">
              <div class="media" th:each="question:${questionList.questions}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" width="48px" height="48px"
                             th:src="${question.user.getAvatarUrl()}"/>
                    </a>
                </div>
                <div class="media-body">
                    <a th:href="@{'/question/'+${question.id}}">
                    <h4 class="media-heading" th:text="${question.title}">
                    </h4>
                    </a>
                    <span th:text="${question.description}"></span><br>
                    <span class="bu-shu"><span th:text="${question.commentCount}"/>个回复 • <span
                            th:text="${question.viewCount}"/> 次浏览•
                        <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"/></span>
                    <a th:href="@{'/publish/'+${question.id}}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                       th:if="${session.user!=null && session.user.id==question.creator}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>编辑
                    </a>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            </div>
              <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${questionList.showFirstPage}">
                        <a th:href="@{'/profile/'+${section}(page=${1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${questionList.showPrevious}">
                        <a th:href="@{'/profile/'+${section}(page=${questionList.page-1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <li th:each="page : ${questionList.pages}" th:class="${questionList.page==page}? 'active' : ''"><a
                            th:href="@{'/profile/'+${section}(page=${page})}"
                            th:text="${page}"></a></li>
                    <li th:if="${questionList.showNext}">
                        <a th:href="@{'/profile/'+${section}(page=${questionList.page+1})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${questionList.showEndPage}">
                        <a th:href="@{'/profile/'+${section}(page=${questionList.totalPage})}"  aria-label="Previous">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section=='repies'}">
                <div th:each="pinglun:${questionList2.questions}">
                <span th:text="${pinglun.name+'评论了'+pinglun.title}">
                </span>
                    <span th:text="${#dates.format(pinglun.gmtModified,'yyyy-MM-dd HH:mm')}"/></span>
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:if="${questionList2.showFirstPage}">
                            <a th:href="@{'/profile/'+${section}(page=${1})}" aria-label="Previous">
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                        </li>
                        <li th:if="${questionList2.showPrevious}">
                            <a th:href="@{'/profile/'+${section}(page=${questionList2.page-1})}" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>

                        <li th:each="page : ${questionList2.pages}" th:class="${questionList2.page==page}? 'active' : ''"><a
                                th:href="@{'/profile/'+${section}(page=${page})}"
                                th:text="${page}"></a></li>
                        <li th:if="${questionList2.showNext}">
                            <a th:href="@{'/profile/'+${section}(page=${questionList2.page+1})}" aria-label="Previous">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li th:if="${questionList2.showEndPage}">
                            <a th:href="@{'/profile/'+${section}(page=${questionList2.totalPage})}"  aria-label="Previous">
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section=='answer'}">
                <div th:each="pinglun:${questionList3.questions}">
                <span th:text="${pinglun.name+'评论了'+pinglun.title}">
                </span>
                    <span th:text="${#dates.format(pinglun.gmtModified,'yyyy-MM-dd HH:mm')}"/></span>
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:if="${questionList3.showFirstPage}">
                            <a th:href="@{'/profile/'+${section}(page=${1})}" aria-label="Previous">
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                        </li>
                        <li th:if="${questionList3.showPrevious}">
                            <a th:href="@{'/profile/'+${section}(page=${questionList3.page-1})}" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>

                        <li th:each="page : ${questionList3.pages}" th:class="${questionList3.page==page}? 'active' : ''"><a
                                th:href="@{'/profile/'+${section}(page=${page})}"
                                th:text="${page}"></a></li>
                        <li th:if="${questionList3.showNext}">
                            <a th:href="@{'/profile/'+${section}(page=${questionList3.page+1})}" aria-label="Previous">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li th:if="${questionList3.showEndPage}">
                            <a th:href="@{'/profile/'+${section}(page=${questionList3.totalPage})}"  aria-label="Previous">
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group section">
                <a href="/profile/questions" th:class="${section=='questions'}? 'active list-group-item' : 'list-group-item'">我的问题</a>
                <a href="/profile/repies" th:class="${section=='repies'}? 'active list-group-item' : 'list-group-item'">最新评论
                <span th:class="badge" th:text="${totalCount}"></span>
                </a>
                <a href="/profile/answer"
                   th:class="${section=='answer'}? 'active list-group-item' : 'list-group-item'">最新回复
                    <span th:class="badge" th:text="${c}"></span>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>